.todo-lists {
  list-style: none;
  font-size: 1.4rem;

  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 1rem;
}

.todo-lists li {
  margin-bottom: 0.7rem;
  font-size: 1.8rem;

  align-self: center;
}

.button {
  background: none;
  border: none;
  font-size: 1.8rem;

  display: flex;
  align-items: center;
}

.button:last-child {
  margin-right: 0;
  margin-left: auto;
}
