* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 62.5%; /* 1rem = 10px */
  font-family: "Roboto";
}

.heading {
  font-size: 4rem;
  text-align: center;
  margin-top: 5rem;
  letter-spacing: -1px;
}
